#root {
  margin: 0 auto;
  padding: 0;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.list {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  user-select: none;
  cursor: move;
}

button {
  text-transform: uppercase;
  margin-right: 0;
}

hr {
  background-color: rgba(255, 255, 255, 0.7); /* Modern Browsers */
  border: 0 none;
  height: 1px !important;
  overflow: hidden;
}

#app-bg-color,
#app-bg-dots {
  bottom: 0;
  height: 100vh;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
}

#app-bg-color {
  background: linear-gradient(45deg, #010101, #212121, #010101); !important;
  z-index: -2;
}

#app-bg-dots {
  background: radial-gradient(#212121 1px, transparent 0);
  background-size: 3px 3px;
  z-index: -1;
}

::-webkit-scrollbar {
  height: 3px;
  width: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border: 0;
}

::-webkit-scrollbar-thumb {
  background-color: #333;
  border: 0;
  border-radius: 0;
}
