@use "vars";

#app-bg-color,
#app-bg-dots {
  bottom: 0;
  height: 100vh;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100vw;
}

#app-bg-color {
  background: vars.$gradient-black-grey !important;
  z-index: -2;
}

#app-bg-dots {
  background: radial-gradient(vars.$color-pureblack 1px, transparent 0);
  background-size: 3px 3px;
  z-index: -1;
}
