@use "vars";

.card {
  background-color: vars.$dark-grey-overlay !important;
  margin-bottom: 30px;

  &-white {
    background-color: vars.$faint-white-overlay !important;
    color: vars.$color-white;
  }
}
