@use "vars";

a {
  color: vars.$color-lightpurple !important;
  cursor: pointer !important;

  &:hover {
    color: vars.$color-lightpurple !important;
  }
}

.btn{
  background: vars.$color-black !important;
  border-color: transparent !important;
}

.login {
  max-width: 300px;
  margin: auto;
}

.list {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  user-select: none;
  cursor: move;
}

ul {
  padding-inline-start: 16px;

  li {
    margin-bottom: 6px;
  }
}

hr {
  background-color: vars.$lighter-grey-overlay; /* Modern Browsers */
  border: 0 none;
  /* Set the hr color */
  color: vars.$lighter-grey-overlay; /* old IE */
  height: 1px !important;
  overflow: hidden;

  &.white {
    background-color: vars.$light-white-overlay; /* Modern Browsers */
    color: vars.$light-white-overlay; /* old IE */
  }
}


::-webkit-scrollbar {
  height: 3px;
  width: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border: 0;
}

::-webkit-scrollbar-thumb {
  background-color: vars.$color-grey;
  border: 0;
  border-radius: 0;
}
