@use "vars";


.card {
  background-color: vars.$color-white !important;
  border: 1px solid vars.$color-grey;
  color: vars.$color-black;
  padding: 5px 15px;
  margin-bottom: 5px;
  text-align: left;
}

.listholder {
  padding-right: 1px;

  .list {
    max-height: calc(100vh - 200px);
    overflow-y: auto;
    user-select: none;
    cursor: move;
    padding-right: 10px;

    .listitem {
      border-radius: 0 !important;
      border-left-width: 0 !important;
      border-right-width: 0;

      .weeks,
      .name {
        max-width: 140px;
      }

      .description {
        white-space: nowrap;
        overflow-x: hidden;
        text-overflow: ellipsis;
      }

      .button {
        position: relative;
        max-width: 80px;
        width: 80px;
        padding-top: 0;
        margin-top: 0 !important;

        .btn {
          width: 75px;
          position: absolute;
          top: -5px;
          right: -3px;
          font-size: 11px;
          border-radius: 0;
          border-width: 0;
          height: 26px;
        }
      }
    }
  }
}

hr {
  border: 0 none;
  background-color: vars.$grey-overlay; /* Modern Browsers */
  height: 1px !important;
  overflow: hidden;
}

::-webkit-scrollbar {
  height: 3px;
  width: 3px;
}

::-webkit-scrollbar-track {
  background: transparent;
  border: 0;
}

::-webkit-scrollbar-thumb {
  background-color: vars.$color-grey;
  border: 0;
  border-radius: 0;
}
