@use "vars";

iframe {
  background-color: vars.$white-overlay !important;
  border: 1px solid vars.$white-overlay !important;
  height: calc(100vh - 600px);
  width: 100%;
}

.input-group {
  width: 300px;
}
