@use "vars";

#calendar {
  .list {
    .card {
      padding: 5px 15px;

      .weeks,
      .name,
      .button {
        max-width: 120px;
      }
      .weeks,
      .name,
      .description {
        padding-top: 10px;
      }

    }
  }

  .dragDrop {
    padding: 5px 15px;
    text-align: center;
    color: vars.$color-grey;
    width: 100%;
    margin: 10px 0 5px;
    padding-top: 20px;
    border: 1px dashed vars.$color-grey;
    height: 60px;

  }
}
