@use "vars";

#calendar {
  .list {
    .listitem {
      cursor: auto;
    }
  }

  .dragDrop {
    padding: 10px 15px;
    text-align: center;
    color: vars.$color-grey;
    width: 100%;
    margin: 10px 0 5px;
    border: 1px dashed vars.$color-grey;
  }
}
