@use "vars";

#profile {
  .col {
    &.weeks {
      max-width: 120px;
    }

    &.label {
      white-space: nowrap;
      overflow-x: hidden;
      text-overflow: ellipsis;
    }
  }



  .radio-button {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }


  .years {
    display: flex;
    flex-wrap: wrap;
  }
;

  .year {
    margin-bottom: 15px;
    flex: 1 1 25%;
  }

  input {
    margin-right: 10px;
  }
}
