@use "vars";

#profile {
  .radio-button {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow-x: hidden;
  }


  .years {
    display: flex;
    flex-wrap: wrap;
  }

  .year {
    margin-bottom: 15px;
    flex: 1 1 25%;
  }

  input {
    margin-right: 10px;
  }


}
